/* PC */
@media (min-width: 1024px){
    .main-content
    {
        width: 1170px;
    }
}

/* Tablet */
@media ((min-width: 740px) and (max-width: 1023px)){
    .main-content
    {
        width: 740px;
    }

    #header img{
        margin-right: 10px;
    }

    .nav{
        gap: 8px;
    }

    #header .search-btn input{
        width: 120px;
        margin-left: 10px;
        margin-right: 0;
    }

    #header .search-btn .search-icon{
        margin-right: 5px;
    }

    #header .search-btn{
        display: flex;
        align-items: center;
        gap: 2px;
    }

    #header .action-btn {
        gap:10px
    }

    .fruit-info .purchasing{
        display: block;
    }

    .fruit-info .purchasing .price {
        font-weight: 700;
        color: #ffb900;
        margin-bottom: 8px;
        display: block;
    }
    
    .fruit-info .purchasing .btn {
        min-width: 40px;
        display: block;
    }

    #footer .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #Content .group{
        display: flex;
        width: 100%;
        gap:15px;
    }

    #Content .fruits .item{
        width: calc((100% / 3) - 10px);
    }

    .footer-list-info .contact,
    .footer-list-info .introduce,
    .footer-list-info .service,
    .footer-list-info .attribute 
    {
        width: 100%;
    }

    #footer .top-contact{
        margin-top: 50px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .main-content
    {
        width: 340px;
    }

    #header img{
        margin-right: 10px;
    }

    .nav > li > a,
    #header .search-btn input,
    #header .search-btn
    {
        display: none;
    }

    /* #header .action-btn .btn{
        margin-right: 10px;
    } */

    #slider{
        width: 100%;
    }


    #Content .fruits .group{
        display: block;
        width: 100%;
    }

    #Content .fruits .group-item1 .item,
    #Content .fruits .group-item2 .item,
    #Content .fruits .group-item3 .item
    {
        margin-top: 2px;
        width: 100%;
    }

    #Content .animation{
        width: 100%;
    }

    #footer .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-list-info .contact,
    .footer-list-info .introduce,
    .footer-list-info .service,
    .footer-list-info .attribute 
    {
        width: 100%;
    }

    #footer .top-contact{
        margin-top: 50px;
    }
}