* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 16px 0;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 8px;
}

.btn:hover {
    background: #ea4c89;
}

.slip {
    transition: all ease 0.3s;
    transform: translateX(-324%);
}

/* Header */
#header {
    width: 100%;
    background-color: #e6f0ff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#header img {
    width: 80px;
    height: 80px;
    margin-right: 50px;
    object-fit: cover;
}

#header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 12px;
}

.nav,
.subnav {
    list-style: none;
}

.nav li {
    position: relative;
    display: inline-block;
}

.nav li a {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #5f5b53;
}

.nav .subnav li a {
    text-transform: none;
}

.nav > li:hover > a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    padding: 10px 3px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 12px;
}

.nav .subnav {
    width: 230px;
    display: none;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav a {
    padding: 0 24px;
    height: 46px;
    font-weight: bold;
}

.nav .subnav li {
    display: block;
    background-color: #fff;
    line-height: 46px;
}

.nav .subnav li:hover a {
    display: block;
    color: #000;
    background-color: #cccccc;
}

.nav .nav-arrow-down {
    padding: 4px;
    font-size: 12px;
}

#header .search-btn {
    margin-right: auto;
}

#header .search-btn input {
    border-radius: 8px;
    padding: 10px 16px;
    width: 160px;
    height: 40px;
    text-align: center;
    margin-left: 36px;
    margin-right: 12px;
    border: 1px solid transparent;
}

#header .search-btn .search-icon {
    padding: 12px;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
}

#header .search-btn .search-icon:hover {
    background-color: #ea4c89;
    cursor: pointer;
}

#header .action-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header .action-btn .login-btn {
    color: #000;
}

#header .action-btn .login-btn:hover {
    text-decoration: underline;
}

#header .account-group {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
}

#header .account-group .account {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#header .account-group i {
    font-size: 32px;
    cursor: pointer;
}

#header .account-group > i:hover {
    opacity: 0.6;
}

#header .account-group .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
    object-fit: cover;
}

#header .account {
    height: 55px;
}

#header .account:hover {
    color: #26aa99;
}

#header .account-feature {
    display: none;
    position: absolute;
    top: 55px;
    right: -12px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.account-feature li a {
    display: inline-block;
    padding: 12px 24px;
    width: 100%;
}

.account-feature li:hover a {
    color: #26aa99;
    background: #eee;
}

#header .account:hover .account-feature {
    display: block;
}

/* Slider */

#slider {
    padding-top: 80px;
    position: relative;
}

#slider .img-fruit {
    width: 100%;
    object-fit: cover;
    display: none;
}

#slider .img-fruit.active {
    display: block;
}

/* Content */

#Content {
    padding-top: 10px;
    padding-bottom: 200px;
    background: #e6f0ff;
}

/* Table */

#Content .table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f1;
}

#Content .table td,
#Content .table th {
    text-align: center;
    border: 2px solid #fbfcfc;
    border-collapse: collapse;
    padding: 10px;
}

#Content .table th {
    background-color: #343a40;
    color: #ffffff;
}

#Content .fruit-item {
    margin-top: 160px;
}

#Content .content-top .desc {
    text-align: justify;
    margin-top: 12px;
}

#Content .fruits {
    margin-top: 55px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#Content .group {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    gap: 30px;
    transition: all ease 0.3s;
}

#Content .fruits .item {
    flex-shrink: 0;
    width: calc((100% / 3) - 20px);
    background: #fff;
    border-radius: 16px;
}

.fruits .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.fruits .item .fruit-info {
    padding: 20px 20px 28px;
}

.fruit-info .sub-title {
    font-size: 20px;
}

.fruit-info .desc {
    margin-top: 6px;
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
}

.fruit-info .purchasing {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fruit-info .purchasing .price {
    font-weight: 700;
    color: #ffb900;
}

.fruit-info .purchasing .btn {
    min-width: 200px;
}

#Content .animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    float: right;
    margin-top: 20px;
}

.fruit-item .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 6px;
}

.fruit-item .dots .dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #634700;
}

.fruit-item .dots .dot.active {
    cursor: default;
    background: #ffb900;
}

#Content .active-icon {
    display: flex;
    gap: 18px;
    margin-left: auto;
}

#Content .active-icon .control-btn:hover {
    color: #fff;
    background: #ffb900;
    cursor: pointer;
}

#Content .active-icon .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffb900;
    border: 2px solid currentColor;
    background: transparent;
}

/* Sitemap */
#Content .Sitemap{
    margin-top: 200px;
    text-align: center;
}

/* Begin css footer */
#footer {
    background-color: #2e2100;
    padding-top: 80px;
}

#footer .container {
    display: flex;
    gap: 23.4px;
    padding-bottom: 38px;
}

#footer .top-contact {
    text-transform: uppercase;
    font-size: 24px;
    color: #e6f0ff;
    margin-bottom: 20px;
}

#footer .Contact-list-text {
    color: #bfbcb2;
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    text-align: justify;
}

#footer .Contact-list-text li a {
    color: #bfbcb2;
    line-height: 2.7;
}

.click-effect > li:hover a {
    text-decoration: underline;
}

.footer-list-info .contact .icon-contact {
    margin-top: 18px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-list-info .contact .icon-contact a {
    padding: 4px;
    text-decoration: none;
    color: #e6f0ff;
}

.footer-list-info .contact .icon-contact a:hover {
    background-color: #ea4c89;
    border-radius: 8px;
}

.footer-list-info .contact {
    width: 32%;
}

.footer-list-info .introduce {
    width: 32%;
}

.footer-list-info .service {
    width: 15%;
}

.footer-list-info .attribute {
    width: 15%;
}

#footer .footer-text {
    border-top: 1px solid #59554b;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e6f0ff;
}

.footer-text > h4 {
    font-size: 20px;
    font-weight: 600;
}
.footer-text p {
    font-size: 18px;
    font-weight: 400;
}
/* End css footer */

/* Css Modal chung */
.modal {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.modal-action > input {
    width: 98px;
    height: 50px;
}

.modal.open {
    display: flex;
}

.modal-header {
    background-color: #fff;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #e76262;
    padding: 12px;
    cursor: pointer;
    opacity: 0.4;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 20px;
}

.modal-label {
    display: inline-block;
    height: 24px;
    font-size: 15px;
}

.modal-footer {
    text-align: center;
    height: 35px;
    border-top: 1px solid #ccc;
}

.modal-input {
    border: 1px solid transparent;
    width: 360px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    background: #eee;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    outline: #ea4c89;
}

input[type="submit"],
input[type="reset"] {
    padding: 0.1em 0.2em;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    background-color: #ea4c89;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background: #f082ac;
}

span {
    color: red;
    font-size: 16px;
}
/*end: Css Modal chung */

/*start: Css Modal riêng */
.modal-SignUp .modal-container {
    background-color: #fff;
    width: 850px;
    height: 620px;
    max-width: calc(100%-32px);
    position: relative;
    animation: modalFadeIn ease 0.4s;
    border-radius: 20px;
}

.modal-SignUp .modal-header {
    border-radius: 20px;
    border: none;
}

.modal-SignUp .modal-body__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-SignUp .modal-body__wrapper .item {
    display: inline-block;
    width: 360px;
    height: 82px;
}

.modal-SignUp .modal-footer {
    border: none;
}

.modal-SignUp .modal-footer .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.request {
    margin-top: 20px;
}

.modal-SignUp .modal-footer .item input {
    height: 50px;
    width: 98px;
}

.modal-SignIn .modal-container {
    background: #fff;
    width: 440px;
    height: 540px;
    max-width: calc(100%-32px);
    position: relative;
    animation: modalFadeIn ease 0.4s;
    border-radius: 20px;
}

.modal-SignIn .modal-container .modal-header {
    border-radius: 20px 20px 0 0;
    margin-bottom: 30px;
    border: none;
    padding-top: 30px;
}

.modal-SignIn .modal-body {
    padding: 12px 20px 8px 20px;
}

.modal-SignIn .modal-body .item {
    margin-left: 20px;
}

.modal-SignIn .modal-body .item > label {
    color: #0d0c22;
    font-size: 15px;
    font-weight: bold;
}

.modal-SignIn .item br {
    margin-bottom: 4px;
}

.modal-SignIn .item-SignIn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-SignIn .item-SignIn > input {
    width: 360px;
    height: 50px;
    border-radius: 8px;
    background: #ea4c89;
    color: #fff;
}

.modal-SignIn .item-SignIn > input:hover {
    opacity: 0.7;
}

.modal-SignIn .contact-SignIn {
    margin-top: 20px;
}

.modal-SignIn .contact-SignIn p {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-SignIn .icon-contact {
    text-align: center;
    margin-top: 20px;
}

.modal-SignIn .icon-contact i {
    background-color: azure;
    color: #000;
    padding: 5px;
}

.modal-SignIn .icon-contact li {
    display: inline-block;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 8px;
}

.modal-SignIn .icon-contact li i {
    background: transparent;
}

.modal-SignIn .icon-contact li:hover {
    color: #fff;
    background: #ea4c89;
}

.modal-SignIn .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    margin-top: 10px;
}
/* end: css modal riêng */

/* Toast Message */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
