* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 16px 0;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 25px;
}

.btn:hover {
    background: #ffb900;
}

/* Header */
#header {
    width: 100%;
    background-color: #e6f0ff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#header img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    object-fit: cover;
}

#header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 12px;
}

.nav,
.subnav {
    list-style: none;
}

.nav li {
    position: relative;
    display: inline-block;
}

.nav li a {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.nav .subnav li a {
    text-transform: none;
}

.nav > li:hover > a {
    text-decoration: underline;
}

.nav .subnav {
    display: none;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav a {
    padding: 0 24px;
    height: 46px;
    font-weight: bold;
}

.nav .subnav li {
    display: block;
    background-color: #fff;
    width: 230px;
    line-height: 46px;
}

.nav .subnav li:hover a {
    display: block;
    color: #000;
    background-color: #cccccc;
}

.nav .nav-arrow-down {
    padding: 4px;
    font-size: 12px;
}

#header .search-btn {
    margin-right: auto;
}

#header .search-btn input {
    width: 230px;
    height: 28px;
    text-align: center;
    margin-left: 36px;
    margin-right: 12px;
    border: 1px solid blue;
}

#header .search-btn .search-icon {
    padding: 12px;
    font-size: 12px;
    text-align: center;
}

#header .search-btn .search-icon:hover {
    background-color: red;
    cursor: pointer;
}

#header .action-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header .action-btn .login-btn {
    color: #000;
}

#header .action-btn .login-btn:hover {
    text-decoration: underline;
}

/* Slider */

#slider {
    padding-top: 100px;
}

#slider img {
    width: 100%;
    object-fit: cover;
}

/* Content */

#Content {
    padding-top: 200px;
    padding-bottom: 200px;
}

#Content .active-icon {
    display: flex;
    gap: 18px;
    margin-left: auto;
}

#Content .active-icon .control-btn:hover {
    color: #fff;
    background: #ffb900;
    cursor: pointer;
}

#Content .active-icon .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffb900;
    border: 1px solid currentColor;
    background: transparent;
}

#Content .fruit-item {
    margin-top: 80px;
}

#Content .content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Content .content-top .desc {
    text-align: justify;
    margin-top: 12px;
}

#Content .fruits {
    margin-top: 55px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#Content .fruits .item {
    width: calc(100% / 3);
}

.fruits .item .thumb {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.fruits .item .fruit-info {
    padding: 16px 22px 22px;
}

.fruit-info .sub-title {
    font-size: 20px;
}

.fruit-info .desc {
    margin-top: 6px;
    font-weight: 400;
    line-height: 1.6;
}

.fruit-info .purchasing {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fruit-info .purchasing .price {
    font-weight: 700;
    color: #ffb900;
}

.fruit-info .purchasing .btn {
    min-width: 200px;
}

.fruit-item .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 6px;
}

.fruit-item .dots .dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #634700;
}

.fruit-item .dots .dot.active {
    cursor: default;
    background: #ffb900;
}

/* Begin css footer */
#footer {
    /* Đổi màu footer cho đẹp */
    background-color: #2e2100;
    padding-top: 80px;
}

#footer .container {
    display: flex;
    gap: 23.4px;
    padding-bottom: 38px;
}

#footer .top-contact {
    text-transform: uppercase;
    font-size: 24px;
    color: #e6f0ff;
    margin-bottom: 20px;
}

#footer .Contact-list-text {
    color: #bfbcb2;
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
}

#footer .Contact-list-text li a {
    color: #bfbcb2;
    line-height: 2.7;
}

.click-effect > li:hover a {
    text-decoration: underline;
}

.footer-list-info .contact .icon-contact {
    margin-top: 18px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-list-info .contact .icon-contact a {
    padding: 4px;
    text-decoration: none;
    color: #e6f0ff;
}

.footer-list-info .contact .icon-contact a:hover {
    background-color: #000;
}

.footer-list-info .contact {
    width: 32%;
}

.footer-list-info .introduce {
    width: 32%;
}

.footer-list-info .service {
    width: 15%;
}

.footer-list-info .attribute {
    width: 15%;
}

#footer .footer-text {
    border-top: 1px solid #59554b;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e6f0ff;
}

.footer-text > h4 {
    font-size: 20px;
    font-weight: 600;
}
.footer-text p {
    font-size: 18px;
    font-weight: 400;
}
/* End css footer */
