* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 16px 0;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 25px;
}

.btn:hover {
    background: #ffb900;
}

/* Header */
#header {
    width: 100%;
    background-color: #e6f0ff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#header img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    object-fit: cover;
}

#header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 12px;
}

.nav,
.subnav {
    list-style: none;
}

.nav li {
    position: relative;
    display: inline-block;
}

.nav li a {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.nav .subnav li a {
    text-transform: none;
}

.nav > li:hover > a {
    text-decoration: underline;
}

.nav .subnav {
    display: none;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav a {
    padding: 0 24px;
    height: 46px;
    font-weight: bold;
}

.nav .subnav li {
    display: block;
    background-color: #fff;
    width: 230px;
    line-height: 46px;
}

.nav .subnav li:hover a {
    display: block;
    color: #000;
    background-color: #cccccc;
}

.nav .nav-arrow-down {
    padding: 4px;
    font-size: 12px;
}

#header .search-btn {
    margin-right: auto;
}

#header .search-btn input {
    width: 230px;
    height: 28px;
    text-align: center;
    margin-left: 36px;
    margin-right: 12px;
    border: 1px solid blue;
}

#header .search-btn .search-icon {
    padding: 12px;
    font-size: 12px;
    text-align: center;
}

#header .search-btn .search-icon:hover {
    background-color: red;
    cursor: pointer;
}

#header .action-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header .action-btn .login-btn {
    color: #000;
}

#header .action-btn .login-btn:hover {
    text-decoration: underline;
}

/* Slider */

#slider {
    padding-top: 100px;
}

#slider img {
    width: 100%;
    object-fit: cover;
}

/* Content */

#Content {
    padding-top: 200px;
    padding-bottom: 200px;
}

#Content .import-fruit{
    margin-top: 80px;
}

#Content .content-top .desc {
    text-align: justify;
    margin-top: 12px;
}

#Content .fruits {
    margin-top: 55px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#Content .fruits .item {
    width: calc(100% / 3);
    height: 446px;
}

.fruits .item .thumb {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.fruits .item .fruit-info {
    padding: 16px 22px 22px;
}

.fruit-info .sub-title {
    font-size: 20px;
}

.fruit-info .desc {
    margin-top: 6px;
    font-weight: 400;
    line-height: 1.6;
}

.fruit-info .purchasing {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fruit-info .purchasing .price {
    font-weight: 700;
    color: #ffb900;
}

.fruit-info .purchasing .btn {
    min-width: 200px;
}

.import-fruit .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 6px;
}

.import-fruit .dots .dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #634700;
}

.import-fruit .dots .dot.active {
    cursor: default;
    background: #ffb900;
}


/* Begin css footer */
#footer{
    width: 100%;
    height: 500px;
    /* Đổi màu footer cho đẹp */
    background-color: rgb(76, 114, 93);
    padding: 0 20px;
}

#footer .top-contact{
    text-transform: uppercase;
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#footer .Contact-list-text{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 200px;
    text-align: justify;
    list-style: none;
}

#footer .Contact-list-text li a{
    color: #FFFFFF;
    line-height: 2.7;
}


#footer .footer-list-info{
    height: 420px;
    padding-top: 20px;
}


.footer-list-info .contact .icon-contact{
    margin-top: 50px;
    font-size: 50px;
}

.footer-list-info .contact .icon-contact a{
    padding: 4px;
    text-decoration: none;
    color: #e6f0ff;
}

.footer-list-info .contact .icon-contact a:hover{
    background-color: #000;
}

.footer-list-info .contact{
    float: left;
    width: 25%;
}

.footer-list-info .introduce{
    margin-left: 80px;
    float: left;
    width: 35%;
}


.footer-list-info .service{
    margin-left: 120px;
    float: left;
    width: 15%;
}

.footer-list-info .attribute{
    margin-left: 50px;
    float:left;
    width: 10%;
}


#footer .footer-text{
    background-color: rgb(187, 189, 190);
    margin-left: -20px;
    margin-right: -20px;
    padding: 16px;
    height: 80px;
    text-align: center;
    display: block;
}
/* End css footer */


